.title {
    text-align: center;
    font-weight: bold;
    font-size: 20pt;
}

.btn-update {
    width: auto;
    height: 40px;
    /* margin-top: 30px !important; */
    color: white !important;
    font-weight: bold !important;
    border-radius: 6px !important;
    background-color: #006769 !important;
}

.btn-primary {
    width: auto;
    height: 40px;
    /* margin-top: 30px !important; */
    color: white !important;
    font-weight: bold !important;
    border-radius: 6px !important;
    background-color: #65B741 !important;
}

.btn-cancel {
    width: auto;
    height: 40px;
    /* margin-top: 30px !important; */
    color: white !important;
    font-weight: bold !important;
    border-radius: 6px !important;
    background-color: #FF0000 !important;
}