<div fxLayout="row-reverse">
  <button
    mat-icon-button
    class="close-button"
    (click)="cancelDialog()"
    *ngIf="!this.data['createMode'] && !this.data['editMode']"
  >
    <mat-icon color="warn"> close </mat-icon>
  </button>
</div>
<mat-dialog-content [ngStyle]="{'margin-top' : !this.data['createMode'] && !this.data['editMode'] ? '-25px' : '15px'}">
  <div fxLayout="column" fxLayoutGap="10px" *ngIf="!this.data['createMode']">
    <mat-card-title class="title">
      <b>{{ !this.data["editMode"] ? "Detail Employee" : "Edit Employee" }}</b>
    </mat-card-title>

    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutGap="10px" [formGroup]="editEmployee">
      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="8px">
        <mat-form-field appearance="outline">
          <mat-label>First Name</mat-label>
          <input type="text" matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="editEmployee.controls.email.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="editEmployee.controls.email.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </div>

      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="8px">
        <mat-form-field appearance="outline">
          <mat-label>Birth Date</mat-label>
          <input
            aria-label="Number"
            matInput
            [matDatepicker]="picker"
            formControlName="birthDate"
            [max]="maxDate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{
            editEmployee.controls.basicSalary.value
              | currency : "IDR" : "symbol-narrow" : "1.0-0"
          }}</mat-label>
          <span matPrefix>Rp. &nbsp;</span>
          <input type="number" matInput formControlName="basicSalary" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Group</mat-label>
          <mat-select formControlName="group">
            <mat-option *ngFor="let groups of groupList" [value]="groups.name">
              {{ groups.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row-reverse" fxLayoutGap="8px" fxLayoutAlign="space-between center">
      <button
        class="btn-cancel"
        ngStyle.xs="width: 100%;"
        style="width: 200px; height: 40px"
        ngStyle.xs="width: 100%; height: 40px;"
        mat-raised-button
        (click)="cancelDialog()"
        *ngIf="this.data['editMode']"
      >
        Cancel
      </button>
      <button
        ngStyle.xs="width: 100%;"
        style="width: 200px; height: 40px"
        ngStyle.xs="width: 100%; height: 40px;"
        mat-raised-button
        class="btn-update"
        *ngIf="this.data['editMode']"
        (click)="editDataEmployee()"
      >
        Update
      </button>
    </div>
  </div>
  <div fxLayout="column" fxLayoutGap="10px" *ngIf="this.data['createMode']">
    <mat-card-title class="title"> <b>Create Employee</b></mat-card-title>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutGap="10px" [formGroup]="addEmployee">
      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="8px">
        <mat-label> First Name </mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="firstName" type="text" required />
          <mat-error
            *ngIf="addEmployee.controls.firstName.hasError('required')"
          >
            First Name is required
          </mat-error>
        </mat-form-field>

        <mat-label> Last Name </mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="lastName" type="text" required />
          <mat-error *ngIf="addEmployee.controls.lastName.hasError('required')">
            Last Name is required
          </mat-error>
        </mat-form-field>

        <mat-label>Email</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="email" type="email" required />
          <mat-error *ngIf="addEmployee.controls.email.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="addEmployee.controls.email.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>
      </div>
      <div fxFlex="50" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="8px">
        <mat-label>Birth Date</mat-label>
        <mat-form-field appearance="outline">
          <input
            aria-label="Number"
            matInput
            [matDatepicker]="picker"
            formControlName="birthDate"
            [max]="maxDate"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error
            *ngIf="addEmployee.controls.birthDate.hasError('required')"
          >
            Birth Date is required
          </mat-error>
        </mat-form-field>

        <mat-label>Basic Salary</mat-label>
        <mat-form-field appearance="outline">
          <input
            matInput
            formControlName="basicSalary"
            type="number"
            required
          />
          <mat-error
            *ngIf="addEmployee.controls.basicSalary.hasError('required')"
          >
            Basic Salary is required
          </mat-error>
        </mat-form-field>

        <mat-label>Group</mat-label>
        <mat-form-field appearance="outline">
          <mat-select formControlName="group">
            <mat-option *ngFor="let groups of groupList" [value]="groups.name">
              {{ groups.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addEmployee.controls.group.hasError('required')">
            Group is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row-reverse" fxLayoutGap="8px" fxLayoutAlign="space-between center">
      <button
        class="btn-cancel"
        ngStyle.xs="width: 100%;"
        style="width: 200px; height: 40px"
        ngStyle.xs="width: 100%; height: 40px;"
        mat-raised-button
        (click)="cancelDialog()"
        *ngIf="this.data['createMode']"
      >
        Cancel
      </button>
      <button
        class="btn-primary"
        ngStyle.xs="width: 100%;"
        style="width: 200px; height: 40px"
        ngStyle.xs="width: 100%; height: 40px;"
        mat-raised-button
        (click)="createEmployeeData()"
      >
        Save
      </button>
    </div>
  </div>
</mat-dialog-content>
