.btn-primary {
    width: auto;
    height: 40px;
    /* margin-top: 30px !important; */
    color: white !important;
    font-weight: bold !important;
    border-radius: 6px !important;
    background-color: #65B741 !important;
}

.btn-add {
    width: auto;
    height: 40px;
    /* margin-top: 30px !important; */
    color: white !important;
    font-weight: bold !important;
    border-radius: 6px !important;
    background-color: #006769 !important;
}

th,
.mat-header-cell {
  background-color: #557C55!important;
  font-weight: bolder;
  font-size: 15.5px;
  color: #ffff;

  position: sticky;
  top: 0;
  padding: 4px;
  height: 30px;
  text-align: center;
}

td.mat-cell {
  padding-left: 8px;
  text-align: center;
}