<mat-tab-group style="height: 100%;" [(selectedIndex)]="tabIndex">
  <mat-tab label="Employee List">
    <mat-card fxLayout="column" fxLayoutGap="8px" style="min-height: 100%;">
      <mat-card-content>
        <div fxLayout="row" fxLayout.lt-md="column-reverse" fxLayoutGap="8px" fxLayoutGap.lt-md="8px">
          <mat-form-field>
            <input matInput type="text" placeholder="First Name"
                [(ngModel)]="firstName_search" />
          </mat-form-field>
          <mat-form-field>
            <mat-select [formControl]="group_search" placeholder="Group">
              <mat-option *ngFor="let groups of groupListFilter" [value]="groups.value">
                {{groups.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="btn-primary" (click)="applyFilter()">
            Search
          </button>

          <div fxFlex fxFlex.lt-md="100" fxLayout="row-reverse" fxLayout.lt-md="column-reverse" fxLayoutGap="8px">
            <button mat-raised-button color="primary" class="btn-add" (click)="createEmployee()">
              <mat-icon>add</mat-icon>
                New Employee
            </button>
          </div>
        </div>

        <div fxLayout="column" fxLayoutGap="8px">
          <div style="overflow: auto; max-height: 100%;">
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px" fxLayoutAlign="start stretch">
              <mat-paginator
                fxFlex
                [pageSizeOptions]="sizeOptions">
              </mat-paginator>
            </div>
            <table mat-table style="width: 100%;" [dataSource]="employeeData" class="customers">
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                    First Name
                  </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;">
                   {{element['firstName']}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="lastName">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                    Last Name
                  </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;">
                   {{element['lastName']}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="group">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                    Group
                  </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;">
                   {{element['group']}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                    Status
                  </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;">
                   {{element['status'] === "1" ? 'Active' : 'Inactive'}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">
                    Action
                  </th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;">
                    <div fxLayout="row" fxLayoutAlign="center">
                      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" #tooltip="matTooltip" matTooltip="Menu">
                          <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                          <button mat-menu-item (click)="detailEmployee(element)">
                            <mat-icon color="primary">description</mat-icon>
                            <span>Detail</span>
                          </button>
                          <button mat-menu-item (click)="editEmployee(element)">
                            <mat-icon style="color: #FFDB5C;">edit</mat-icon>
                            <span>Edit</span>
                          </button>
                          <button mat-menu-item (click)="deleteEmployee(element['id'])">
                            <mat-icon color="warn">delete</mat-icon>
                            <span>Delete</span>
                          </button>
                        </mat-menu>
                  </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="employeeDataColumn; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; let index; columns: employeeDataColumn"></tr>
            </table>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
  <!-- <mat-tab label="Add Employee" [disabled]="!addMode">
    <mat-card [formGroup]="addEmployee" fxLayoutGap="8px">
      <mat-card-content fxLayout="column" fxLayoutGap="8px">
        <mat-label> First Name </mat-label>
        <mat-form-field style="width: 60%;" appearance="outline">
          <input matInput formControlName="firstName" type="text" required>
          <mat-error *ngIf="addEmployee.controls.firstName.hasError('required')">
            First Name is required
          </mat-error>
        </mat-form-field>

        <mat-label> Last Name </mat-label>
        <mat-form-field style="width: 60%;" appearance="outline">
          <input matInput formControlName="lastName" type="text" required>
          <mat-error *ngIf="addEmployee.controls.lastName.hasError('required')">
            Last Name is required
          </mat-error>
        </mat-form-field>

        <mat-label>Email</mat-label>
        <mat-form-field style="width: 60%;" appearance="outline">
          <input matInput formControlName="email" type="email" required>
          <mat-error *ngIf="addEmployee.controls.email.hasError('required')">
            Email is required
          </mat-error>
          <mat-error *ngIf="addEmployee.controls.email.hasError('email')">
            Please enter a valid email address
          </mat-error>
        </mat-form-field>

        <mat-label>Birth Date</mat-label>
        <mat-form-field style="width: 60%;" appearance="outline">
          <input aria-label="Number" matInput [matDatepicker]="picker" formControlName="birthDate" [max]="maxDate" required/>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
          <mat-error *ngIf="addEmployee.controls.birthDate.hasError('required')">
            Birth Date is required
          </mat-error>
        </mat-form-field>

        <mat-label>Basic Salary</mat-label>
        <mat-form-field style="width: 60%;" appearance="outline">
          <input matInput formControlName="basicSalary" type="number" required>
          <mat-error *ngIf="addEmployee.controls.basicSalary.hasError('required')">
            Basic Salary is required
          </mat-error>
        </mat-form-field>

        <mat-label>Group</mat-label>
        <mat-form-field appearance="outline" style="width:60%">
          <mat-select formControlName="group">
            <mat-option *ngFor="let groups of groupList" [value]="groups.name">
              {{groups.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="addEmployee.controls.group.hasError('required')">
            Group is required
          </mat-error>
        </mat-form-field>

        <div fxLayout="row" fxLayoutGap="8px">
          <div fxFlex="60%">
            <div fxLayout="row" fxLayoutAlign="end" fxLayoutGap="8px">
              <button class="btn-cancel" mat-raised-button style="width: 100%;" (click)="cancelCreateEmployee()">
                Cancel
              </button>
                <button class="btn-primary" mat-raised-button style="width: 100%;" (click)="createEmployeeData()">
                  Save
                </button>
            </div>
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </mat-tab> -->
</mat-tab-group>