.style-main {
    overflow: hidden;
    background:#A8DF8E;
    height:100vh;
    width:100vw;
    background-size: cover;
}

.sign-in {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px !important;
}

.btn-primary {
    width: auto;
    height: 40px;
    /* margin-top: 30px !important; */
    color: white !important;
    font-weight: bold !important;
    border-radius: 6px !important;
    background-color: #65B741 !important;
  }
  
  .btn-primary:hover {
    background-color: #557C55 !important;
  }
  
  .btn-primary:disabled {
    background-color: rgba(0, 0, 0, 0.12) !important;
    color: rgba(0, 0, 0, 0.26) !important;
  }