<div fxLayout="row" fxLayoutAlign="center center" class="style-main">
    <div fxLayout="row" fxLayout.lt-md="column">
        <div fxFlex.lt-md="100%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">

            <mat-card class="main-box" fxLayout="column" fxLayoutGap="8px"
                style="background:rgb(255, 255, 255); padding: 16px; text-align: center;">
                <span class="sign-in">Sign In</span>

                <mat-card-content fxLayout="column" style="margin-top: 20px;">
                    <div [formGroup]="userLogin" fxLayout="column" fxLayoutGap="8px">
                        <mat-form-field appearance="outline">
                            <mat-label>ID/Username</mat-label>
                            <input matInput placeholder="ID/Username" name="username" formControlName="username">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" name="password" [type]="hide ? 'password' : 'text'" formControlName="password">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                                'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>

                    <button id="login-button" mat-raised-button class="btn-primary" (click)="login()">
                        Login
                    </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>